/* ================= RESET ================= */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #eaebf8;
}

img {
  max-width: 100%;
  height: auto;
}

/* ================= NAVBAR ================= */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
}

.logo-section {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  margin-right: 10px;
}

.logo-section h2 {
  font-size: 22px;
  font-weight: bold;
}

/* NAV LINKS */
.nav-links {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #666;
  font-size: 14px;
  font-weight: 600;
}

.nav-links a.active,
.nav-links a:hover {
  color: #0077b6;
}/* ================= MOBILE FULL FIX ================= */
@media (max-width: 768px){

  /* NAVBAR */
  .navbar{
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 15px;
  }

  .nav-links{
    flex-direction: column;
    width: 100%;
    gap: 0;
  }

  .nav-links a{
    width: 100%;
    padding: 10px;
    border-top: 1px solid #eee;
  }

  /* LOGO TEXT */
  .logo-section h2{
    font-size: 16px;
  }

  /* FORM */
  #patientForm{
    flex-direction: column;
  }

  #patientForm input,
  #patientForm select,
  #patientForm button{
    width: 100%;
  }

  /* TABLE → SCROLL (IMPORTANT) */
  table{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  /* FOOTER */
  .footer-container{
    flex-direction: column;
    text-align: center;
  }

}


/* EXTRA SMALL SCREENS (phones nto cyane) */
@media (max-width: 480px){

  .logo{
    height: 40px;
  }

  .logo-section h2{
    font-size: 14px;
  }

  .nav-links a{
    font-size: 13px;
  }

  #patientForm input,
  #patientForm select{
    padding: 10px;
  }

  .footer-box{
    min-width: 100%;
  }

}